/* Reset */
* {
    box-sizing: border-box;
}

body, h2, h3, p, fieldset, button, input {
    margin: initial;
    padding: initial;
}

fieldset, button, input {
    border-style: none;
}

button,
input {
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
}

:root {
    --main-bg-color: #582386;
    --main-font-color: white;
    --btn-font-color: #5B2386;
    --btn-bg-color: #FCEE21;
}

.ir {
    position: absolute;
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

img {
    vertical-align: top;
}

/* Component */
button {
    color: var(--btn-font-color);
    background-color: var(--btn-bg-color);
    cursor: pointer;
    padding: 20px 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 56px;
    font-family: 'GmarketSansBold';
}

/* Typo */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: 'GmarketSansMedium';
    font-size: 24px;
}

.intro strong {
    font-family: 'GmarketSansBold';
    font-size: 1rem;
}

.result strong {
    font-family: 'GmarketSansBold';
    font-size: 3rem;
}

/* Keyframes */
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

/* Layout */
.section-rule {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 60px;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}

.intro,
.input,
.result {
    text-align: center;
}

/* Design */
.section-rule .title .img-logo {
    width: 564px;
}

.section-rule .title {
    background-image: url(../images/logo-background.png);
    background-size: 261px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 58px 0;
}

.intro .img-better {
    width: 486px;
    margin-bottom: 60px;
}

.intro .txt-definition {
    font-size: 18px;
    line-height: 1.8em;
    background-image: url(../images/quote-left.png), url(../images/quote-right.png);
    background-size: 38px, 38px;
    background-position: left 1em, right 1em;
    background-repeat: no-repeat, no-repeat;
}

.txt-field {
    line-height: 4rem;
}

.txt-time {
    margin-bottom: 40px;
    line-height: 4rem;
}

.input .inp-field,
.input .inp-time {
    width: 10rem;
    padding: 16px 0;
    margin: 0 10px;
    border-radius: 7px;
}

.input .inp-field::placeholder,
.input .inp-time::placeholder {
    color: #BABCBE;
}


.input .btn-submit {
    position: relative;
}

.input .btn-submit::after {
    content: '';
    display: block;
    width: 64px;
    height: 50px;
    position: absolute;
    right: -64px;
    bottom: 0;
    background-image: url(../images/click.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.loading-result {
    display: none;
}

.img-loading {
    animation: rotate 1.2s linear;
}

.result {
    display: none;
}

.result strong {
    margin: 0 12px;
    vertical-align: middle;
}

.result .btn-go {
    margin-right: 16px;
}

.result .btn-share {
    background-color: white;
}

.footer {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 60px;
}

.footer .img-weniv {
    width: 125px;
}

.footer .img-copyright {
    width: 365px;
}

.section-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: none;
}

.section-modal .modal {
    z-index: 999;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 76px 10px 68px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.modal .img-cheer {
    width: 388px;
}

.modal .img-dream {
    width: 230px;
}

.modal .img-licat {
    width: 433px;
}

/* Tablet Size Media Query */
@media screen and (min-width: 565px) and (max-width: 892px) {
    .txt-time {
        width: 538px;
    }
    
    .txt-field {
        width: 558px;
    }

    /* Component */
    button {
        padding: 20px 40px;
    }

    .input .btn-submit {
        width: 360px;
        border-radius: 13px;
    }

    .section-modal .modal {
        width: 330px;
        height: 500px;
        padding: 40px 0;
    }

    .modal .img-cheer {
        width: 200px;
    }

    .modal .img-dream {
        width: 200px;
    }

    .modal .img-licat {
        width: 240px;
    }

    .modal .btn-close {
        font-size: 14px;
        padding: 12px 18px;
        border-radius: 13px;
    }
}

/* Mobile Size Media Query */
@media screen and (max-width: 564px) {
    :root {
        font-family: 'GmarketSansMedium';
        font-size: 14px;
    }

    .intro strong {
        font-size: 1rem;
    }

    .result strong {
        font-size: 1.6rem;
    }

    /* Component */
    button {
        padding: 12px 18px;
        border-radius: 56px;
    }

    /* Layout */
    .section-rule {
        gap: 60px;
        padding: 40px 20px;
    }

    /* Design */
    .section-rule .title .img-logo {
        width: 282px;
    }

    .section-rule .title {
        background-size: 130px;
        padding: 32px 0;
    }

    .intro .img-better {
        width: 300px;
        margin-bottom: 60px;
    }

    .intro .txt-definition {
        font-size: 1rem;
        line-height: 1.8em;
        background-size: 24px, 24px;
        background-position: left 1.6em, right 1.6em;
    }

    .txt-field {
        width: 314px;
    }

    .txt-time {
        width: 310px;
    }

    .input .inp-field,
    .input .inp-time {
        width: 10rem;
        padding: 12px 0;
        margin: 0 4px;
    }

    .input .btn-submit {
        position: relative;
        width: 240px;
        border-radius: 13px;
        padding: 16px 36px;
    }

    .input .btn-submit::after {
        width: 42px;
        height: 40px;
        right: -46px;
        bottom: 0;
    }

    .result strong {
        margin: 0 8px;
    }

    .result .btn-go {
        margin-right: 12px;
    }

    .footer {
        gap: 16px;
        padding: 32px;
    }

    .footer .img-weniv {
        width: 90px;
    }

    .footer .img-copyright {
        width: 274px;
    }

    .section-modal .modal {
        width: 330px;
        height: 500px;
        padding: 40px 0;
    }

    .modal .img-cheer {
        width: 200px;
    }

    .modal .img-dream {
        width: 200px;
    }

    .modal .img-licat {
        width: 240px;
    }

    .modal .btn-close {
        border-radius: 13px;
    }
}
    
